.header {
  height: 180px;
  width: 100%;
  background-color: #00252d;
  padding: 0;
  margin: 0;
}

.img-container {
  display: inline-block;
}

.logo1 {
  text-align: center;
  margin-left: 50px;
  margin-top: 30px;
}

.text-box1 {
  display: inline-block;
  margin-left: 30px;
}

.listbox {
  list-style: none;
  color: #a4acb3;
  margin-left: 0;
  padding-left: 0;
}

.name {
  font-size: 40px;
}

.subtitle {
  font-size: 18px;
}
