.nav {
  height: 60px;
  background-color: #f7f4eb;
  text-align: center;
}

.element-list li {
  display: inline-block;
  padding: 18px 22px;
}

.element-list {
  margin-top: 0;
  margin-right: 90px;
}

.nav-bar-element {
  color: black;
  text-decoration: none;
}

.nav-bar-element:hover {
  text-decoration: none;
  color: rgb(212, 180, 99);
  transition: color 0.5s;
}

.nav-bar-element:active {
  text-decoration: underline;
}

.nav-bar-element:focus {
  outline: none;
}
